<!doctype html>
<title>Quart_demo</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='notes.css') }}">
{% block content %}
  <div class="notes">
    <ol>
  {% for note in notes %}
    <div><li><h2>{{ note.title }}</h2>{{ note.text }}
      <form action="{{ url_for('delete') }}" method="POST" class="delete-note">
      <button id='submit' class="button button1" type='submit' name = 'note_id'    value = "{{ note.id }}">Delete</button>
      </form>
      <form action="{{ url_for('update') }}" method="POST" class="update-note">
      <button id='submit' class="button button2" type='submit' name = 'note'    value = "{{ note }}">Update</button>
      </form>
    </li>
  </div>
    <br>
  {% else %}
    <div>No notes available</div>
  {% endfor %}
    </ol>
  </div>
  <div class="form">
    <form action="{{ url_for('create') }}" method="post" class="create-note">
      <p>Title:<input type="text" size="50" name="title">
      <p>Text:<textarea name="text" rows="5" cols="100"></textarea>
      <p><input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}