<!doctype html>
<title>Update Page</title>

{% block content %}

<div class="form">
    <form action="{{ url_for('update_page') }}" method="post" class="update-note">
      <p>Title:<input autocomplete='off' type="text" size="50" name="title" value="{{ note.title }}">
      <p>Text:<input autocomplete='off' type="text" size="200" name="text" value="{{ note.text }}">
      <p><button id='submit' class="button button1" type='submit' name = 'note_id'    value = "{{ note.id }}">Update</button>
    </form>
  </div>

{% endblock %}